@model DemoMVC01.Models.AdminLogin

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body style="text-align: center; background: #4974A4; ">
    <div style="font-weight: bold;font-size: 28px;">
        <span>
            欢迎 @Model.AdminName;  日期：@DateTime.Now.ToString("yyyy-MM-dd")
            @DateTime.Now.DayOfWeek
        </span>
        <br />
         @if (@Model.ID>3)
            {
                int i = 1;
                @i;
            }
             else
             {
                 int i = 2;
                @i;
            }
        @for (int i = 0; i < 5; i++)
        {
            <a style="color:aqua;font-size:10px">@i</a>
        }
        <a>321321321321</a>

    </div>
</body>
</html>
